<!doctype html>
<html lang="<%- i18n.language %>">
  <head>
    <meta charset="UTF-8">
    <title>Admin Login - <%- config.name %></title>
    <!-- Normalize -->
    <%- html.css('/libs/normalize.css/normalize.css') %>

    <!-- Assets -->
    <%- asset.css('admin.css', 'icons.css') %>
  </head>
  <body>
    <section id="login">
      <div id="login-pane">
        <div class="header">
          <%- asset.icon('lock', 'apps/admin/icons.svg', 'xl') %>
          <h2><%- $t('admin.admin_pane') %></h2>
        </div>
        <div class="content">
          <form action="/admin/login" method="post" class="form-signin">
            <input type="text" name="username" class="form-control input-lg" placeholder="<%= $t('admin.username') %>" autofocus>
            <input type="password" name="password" class="form-control input-lg" placeholder="<%= $t('admin.password') %>">
            <label class="checkbox">
              <input type="checkbox" name="remember_me" value="true">
              <%= $t('admin.remember_me') %>
            </label>
            <button class="btn btn-primary btn-block" type="submit"><%= $t('admin.sign_in') %></button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
