<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= $t('website.error_404') %> | <%= config.name %></title>
    <%- html.js('/libs/retinajs/dist/retina.min.js') %>
    <%- asset.css('website.css') %>
</head>
<body class="error">
    <div class="error">
        <div class="logo"><%- asset.img('logo.png') %></div>
        <h1><%= $t('website.error_404') %></h1>
        <a href="/"><%= $t('website.back_to_main') %></a>
    </div>
</body>
</html>