<!doctype html>
<html lang="<%= typeof(lang) !== 'undefined' ? lang : 'es' %>">
<head>
  <meta charset="UTF-8">
  <title>Renting.js</title>
  <%- asset.css('website.css') %>
</head>
<body>
  <header>
    <div id="logo">
      <%- asset.img('renting-logo.png') %>
    </div>
    <div id="languages">
      [ <%- html.anchor('/language/ga', 'GA') %> |
      <%- html.anchor('/language/es', 'ES') %> |
      <%- html.anchor('/language/en', 'EN') %> ]
    </div>
    <nav id="main-nav">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li><%- html.anchor('#', _('register_your_apartment')) %></li>
      </ul>
    </nav>
  </header>
  <div id="page">
    
  </div>
  <footer>
    
  </footer>
</body>
</html>