<section id="home">
    <div id="top-image">
        <div class="parallax" data-image="/img/top-image.jpg">
            <div id="top-content">
                <div class="container">
                    <div class="row">
                        <div id="search" class="col-xs-4">
                            <form action="/search" method="POST">
                                <div class="from form-group row" style="padding: 0 5px">
                                    <div class="div-place">
                                        <label for="input-place"><%= $t('website.bookings.place') %></label>
                                        <div class="icon"><%- asset.icon('place', 'icons.svg') %></div><input value="<%= search.place || '' %>" autocomplete="off" type="text" id="input-place" name="place" />
                                    </div>
                                    <div class="div-from">
                                        <label for="input-from"><%= $t('website.bookings.from') %></label>
                                        <div class="icon"><%- asset.icon('calendar', 'icons.svg') %></div><input value="<%= search.from_timestamp ? moment(new Date(parseInt(search.from_timestamp))).format($t('dates.short')) : '' %>" autocomplete="off" type="text" id="input-from" />
                                        <input value="<%= search.from_timestamp || '' %>" name="from_timestamp" id="input-from-timestamp" type="hidden"/>
                                    </div>
                                    <div class="div-to">
                                        <label for="input-to"><%= $t('website.bookings.to') %></label>
                                        <div class="icon"><%- asset.icon('calendar', 'icons.svg') %></div><input value="<%= search.to_timestamp ? moment(new Date(parseInt(search.to_timestamp))).format($t('dates.short')) : '' %>" autocomplete="off" type="text" id="input-to" />
                                        <input value="<%= search.to_timestamp || '' %>" name="to_timestamp" id="input-to-timestamp" type="hidden"/>
                                    </div>
                                    <div class="div-people">
                                        <label for="input-people"><%= $t('website.bookings.people') %></label>
                                        <div class="icon"><%- asset.icon('people', 'icons.svg') %></div><input value="<%= search.people || '' %>" autocomplete="off" type="text" id="input-people" name="people" />
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="button">
                                        <button type="submit"><i class="fa fa-searhc"></i> Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="slogan" class="content col-xs-8">
                            <div class="slc">
                                <%- $t('website.enjoy_your_home_anyway', { 'hls': '<span class="hl">', 'hle': '</span>' }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2><%- $t('website.search_results') %></h2>
                </div>
                <div class="apartments-list">
                    <% if (apartments.length < 1) { %>
                    <div class="col-xs-12">
                        <h3><%- $t('website.no_apartments') %></h3>
                    </div>
                    <% } %>
                    <% _.each(apartments, function(apartment) { %>
                        <% var image = apartment.images.length > 0 ? apartment.images[0].file : '../no-image.png'; %>
                        <div class="col-xs-6 col-md-3 apartment">
                            <a class="apartment-link" href="<%= '/apartment/'+apartment.url %>">
                                <div class="price">
                                    <% if (apartment.stay_total) { %>
                                        <span class="price"><%= formatter.currency(apartment.stay_total) %></span><br>
                                        <%= $t('website.apartments.complete_stay') %>
                                    <% } else { %>
                                        <span class="price"><%= formatter.currency(apartment.lowest_price_for_today) %></span><br>
                                        <%= $t('website.apartments.each_nigth') %>
                                    <% } %>
                                </div>
                                <div class="image">
                                    <%- html.img('/img/apartments/thumb/'+image) %>
                                </div>
                                <div class="name"><%= apartment.name %></div>
                                <div class="location"><%- apartment.province.name+', '+apartment.country.name[i18n.language] %></div>
                            </a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</section>