<section id="apartment">
    <div id="home-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2><%= apartment.name %></h2>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="nav-tabs">
                        <div class="tab active"><%- html.anchor('#resume', $t('website.apartments.resume')) %></div>
                        <div class="tab"><%- html.anchor('#services', $t('website.apartments.services')) %></div>
                        <div class="tab"><%- html.anchor('#map', $t('website.apartments.map')) %></div>
                        <div class="tab"><%- html.anchor('#conditions', $t('website.apartments.conditions')) %></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">

                </div>
            </div>
        </div>
    </div>
</section>